@font-face {
  font-family: "Aktiv Grotesk";
  src: local("Aktiv Grotesk"),
    url("./fonts/aktiv-grotesk-w01.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.App.main {
  background-color:black;
}

.weather-title {
  color: white;
  font-size: 45px;
  font-weight: 200;
  text-shadow: whitesmoke;
}

.weather-subtitle {
  color: #B3B3B3;
  font-size: 35px;
  font-weight: 100;
  text-shadow: whitesmoke;
}

.select-main select{
  background: black;
  width: 300px;
  color: white;
  padding: 8px 5px 5px 5px;
  font-size: 20px;
  line-height: 5;
  border: 2px;
  border-radius: 10px;
  height: 50px;
  font-weight: 200;
}

.select-main option{
  height: 30px;
  border: 1px solid #cbcbcb;
  padding-left: 17px;
  padding-top: 12px;
  font-weight: 200;
}

.button-main {
  background-color: transparent;
  background: transparent;
  color: white;
  height: 50px;
  width: 300px;
  font-size: 20px;
  border: 2px;
  border-radius: 10px;
  font-weight: 200;
}

.button-main:hover {
  background:white;
  color: black;
  font-weight: 200;
}

.render-main {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.setArrows {
  position:absolute;
  right: 120px;
  width: 300px;
  padding: 80px;
}

.arrow1 {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 0px 10px 10px 10px;
}

.arrow2 {
  position: absolute;
  right: 0px;
  width: 310px;
  padding: 10px 0px 0px 10px;
}

.elements-temp {
  position:absolute;
  right: 460px;
  width: 300px;
  padding: 5px;
}
/* PRIMEIRO APP */
.App {
  background-color: #616978;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.App .location-box .location {
  color: #FFF;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.App .location-box .weather {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  color: #FFF;
  font-size: 35px;
}

.App .weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  color: #FFF;
  font-size: 102px;
  font-weight: 100;
  text-align: center;
}

/* NAME TEMPS APP */

.App .names-temps{
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.App .names-temps .latitud{
  display: flex;
  padding: 0px 40px 0px 45px;
  color:white;
}

.App .names-temps .longitud{
  display: flex;
  padding: 0px 45px 0px 30px;
  color:white;
}

/* NAME TEMPS APP */

/* FIRST BOX APP */

.App .first-box {
  display: flex;
  flex-direction:row;
  margin: auto;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

.App .first-box .lat{
  display: flex;
  padding: 0px 25px 0px 20px;
  color:white;
}

.App .first-box .lon{
  display: flex;
  padding: 0px 30px 0px 40px;
  color:white;
}

.App .first-box .degrees-lon{
  position:absolute;
  right: 140px;
  width: 400px;
  padding: 20px;
  color:white;
}

.App .first-box .degrees-lat{
  position:absolute;
  right: 140px;
  width: 270px;
  padding: 20px;
  color:white;
}

/* FIRST BOX APP */

/* NAME THINGS APP */

.App .names-things{
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 25px 0px 5px 5px;
}

.App .names-things .wind-speed{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: white;
  font-size: 15px;
}

.App .names-things .sunrise{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: white;
  font-size: 15px;
}

.App .names-things .sunset{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: white;
  font-size: 15px;
}

.App .names-things .humidity{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: white;
  font-size: 15px;
}

/* NAME THINGS SUNNY APP */

/* SECOND BOX SUNNY APP */

.App .second-box {
  display: flex;
  flex-direction: row;
  margin: 0px;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 15px;
}

.App .second-box .wind-speed{
  display: flex;
  padding: 0px 25px 0px 45px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.App .second-box .sunrise{
  display: flex;
  padding: 0px 5px 0px 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.App .second-box .sunset{
  display: flex;
  padding: 0px 5px 0px 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.App .second-box .humidity{
  display: flex;
  padding: 0px 60px 0px 30px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

/* SECOND BOX SUNNY APP */

/* MAX-MIN APP */

.App .max-and-min {
  position:absolute;
  right: 90px;
  width: 300px;
  padding: 82px;
}

.App .temp-max {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 0px 10px 10px 10px;
  font-weight: 500;
  color:white;
}

.App .temp-min {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 20px 0px 0px 10px;
  font-weight: 500;
  color:white;
}

/* MAX-MIN APP */

.App .setCelsius {
  position:absolute;
  right: 140px;
  width: 300px;
  padding: 20px;
  color:white;
}

/* FIM DO PRIMEIRO APP */

/* APP SUNNY */

.App.sunny {
  background-color: #56CBDB;
}

.App.sunny .location-box .location {
  color: #FFF;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.App.sunny .location-box .weather {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  color: #FFF;
  font-size: 35px;
}

.App.sunny .weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  color: #FFF;
  font-size: 102px;
  font-weight: 100;
  text-align: center;
}

/* NAME TEMPS SUNNY APP */

/* NAME TEMPS APP */

.App.sunny .names-temps{
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.App.sunny .names-temps .latitud{
  display: flex;
  padding: 0px 40px 0px 45px;
  color:white;
}

.App.sunny .names-temps .longitud{
  display: flex;
  padding: 0px 45px 0px 30px;
  color:white;
}

/* NAME TEMPS APP */

/* NAME TEMPS SUNNY APP */

/* FIRST BOX SUNNY APP */

.App.sunny .first-box {
  display: flex;
  flex-direction:row;
  margin: auto;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

.App.sunny .first-box .lat{
  display: flex;
  padding: 0px 25px 0px 20px;
  color:white;
}

.App.sunny .first-box .lon{
  display: flex;
  padding: 0px 30px 0px 40px;
  color:white;
}

.App.sunny .first-box .degrees-lon{
  position:absolute;
  right: 140px;
  width: 400px;
  padding: 20px;
  color:white;
}

.App.sunny .first-box .degrees-lat{
  position:absolute;
  right: 140px;
  width: 270px;
  padding: 20px;
  color:white;
}

/* FIRST BOX SUNNY APP */

/* NAME THINGS SUNNY APP */

.App.sunny .names-things{
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 25px 0px 5px 5px;
}

.App.sunny .names-things .wind-speed{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: white;
  font-size: 15px;
}

.App.sunny .names-things .sunrise{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: white;
  font-size: 15px;
}

.App.sunny .names-things .sunset{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: white;
  font-size: 15px;
}

.App.sunny .names-things .humidity{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: white;
  font-size: 15px;
}

/* NAME THINGS SUNNY APP */

/* SECOND BOX SUNNY APP */

.App.sunny .second-box {
  display: flex;
  flex-direction: row;
  margin: 0px;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 15px;
}

.App.sunny .second-box .wind-speed{
  display: flex;
  padding: 0px 25px 0px 45px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.App.sunny .second-box .sunrise{
  display: flex;
  padding: 0px 5px 0px 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.App.sunny .second-box .sunset{
  display: flex;
  padding: 0px 5px 0px 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.App.sunny .second-box .humidity{
  display: flex;
  padding: 0px 60px 0px 30px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

/* SECOND BOX SUNNY APP */

/* MAX-MIN APP */

.App.sunny .max-and-min {
  position:absolute;
  right: 90px;
  width: 300px;
  padding: 82px;
}

.App.sunny .temp-max {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 0px 10px 10px 10px;
  font-weight: 500;
  color:white;
}

.App.sunny .temp-min {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 20px 0px 0px 10px;
  font-weight: 500;
  color:white;
}

/* MAX-MIN APP */

/* CELSIUS APP */

.App.sunny .setCelsius {
  position:absolute;
  right: 140px;
  width: 300px;
  padding: 20px;
  color:white;
}

/* CELSIUS APP */

/* FIM DO SUNNY */

/* APP COLD */

.App.cold {
  background-color: #f0eeee;
}

.App.cold .location-box .location{
  color: black;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.App.cold .location-box .weather {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  color: black;
  font-size: 35px;
}

.App.cold .weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  color: black;
  font-size: 102px;
  font-weight: 100;
  text-align: center;
}

/* NAME TEMPS COLD APP */

.App.cold .names-temps{
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.App.cold .names-temps{
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.App.cold .names-temps .latitud{
  display: flex;
  padding: 0px 40px 0px 45px;
  color:black;
}

.App.cold .names-temps .longitud{
  display: flex;
  padding: 0px 45px 0px 30px;
  color:black;
}

/* NAME TEMPS COLD APP */

/* FIRST BOX COLD APP */

.App.cold .first-box {
  display: flex;
  flex-direction:row;
  margin: auto;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

.App.cold .first-box .lat{
  display: flex;
  padding: 0px 25px 0px 20px;
  color:black;
}

.App.cold .first-box .lon{
  display: flex;
  padding: 0px 30px 0px 40px;
  color:black;
}

.App.cold .first-box .degrees-lon{
  position:absolute;
  right: 140px;
  width: 400px;
  padding: 20px;
  color:black;
}

.App.cold .first-box .degrees-lat{
  position:absolute;
  right: 140px;
  width: 270px;
  padding: 20px;
  color:black;
}

/* FIRST BOX COLD APP */

/* NAME THINGS COLD APP */

.App.cold .names-things{
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 25px 0px 5px 5px;
}

.App.cold .names-things .wind-speed{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: black;
  font-size: 15px;
}

.App.cold .names-things .sunrise{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: black;
  font-size: 15px;
}

.App.cold .names-things .sunset{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: black;
  font-size: 15px;
}

.App.cold .names-things .humidity{
  display: flex;
  padding: 0px 15px 0px 10px;
  color: black;
  font-size: 15px;
}

/* NAME THINGS COLD APP */

/* SECOND BOX COLD APP */

.App.cold .second-box {
  display: flex;
  flex-direction: row;
  margin: 0px;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 15px;
}

.App.cold .second-box .wind-speed{
  display: flex;
  padding: 0px 25px 0px 45px;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.App.cold .second-box .sunrise{
  display: flex;
  padding: 0px 5px 0px 10px;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.App.cold .second-box .sunset{
  display: flex;
  padding: 0px 5px 0px 10px;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.App.cold .second-box .humidity{
  display: flex;
  padding: 0px 60px 0px 30px;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

/* SECOND BOX COLD APP */

/* MAX-MIN APP */

.App.cold .max-and-min {
  position:absolute;
  right: 90px;
  width: 300px;
  padding: 82px;
}

.App.cold .temp-max {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 0px 10px 10px 10px;
  font-weight: 500;
  color:black;
}

.App.cold .temp-min {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 20px 0px 0px 10px;
  font-weight: 500;
  color:black;
}

/* MAX-MIN APP */

/* CELSIUS APP */

.App.cold .setCelsius {
  position:absolute;
  right: 140px;
  width: 300px;
  padding: 20px;
  color:black;
}

/* CELSIUS APP */

/* FIM DO COLD */

/* Final dos APPS */

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35));
  padding: 25px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  position:relative;
  display:flexbox;
  margin: auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.img {
  display: flex;
  justify-content: center;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease; 
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.weather {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  padding: 15px 25px;
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-align: center;
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  
} 
